{% include 'header.html' %}
<style>
    .jumbotron {
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        -moz-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        -ms-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        -o-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        text-align: center;
    }

    .panel-default {
        height: 200px;
        -webkit-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        -moz-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        -ms-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        -o-box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
        box-shadow: 0px 0px 17px rgba(181, 181, 181, 0.87);
    }

    h4 {
        margin-bottom: 27px;
    }
</style>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>智能家居管理系统</h2>
                    <p>结合树莓派控制家里智能WEB端</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">查看帮助</a></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="text-align:center;">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="panel panel-default panel1 animated zoomIn" style="">
                        <div class="panel-body">
                            <i class="icon-cloud-download fonts"></i>
                            <br>
                            <h4>快捷部署</h4>
                            <p>一个PY脚本 </p>
                            <p>快速连接树莓派</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="panel panel-default panel1 animated zoomIn">
                        <div class="panel-body">
                            <i class="icon-leaf fonts"></i>
                            <br>
                            <h4>丰富功能</h4>
                            <p>灯,MP3,闹铃,视频监控,火警监控,温度监视</p>
                            <p>等多功能平台</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="panel panel-default panel2 animated zoomIn">
                        <div class="panel-body">
                            <i class="icon-bell-alt fonts"></i>
                            <br>
                            <h4>实时监控</h4>
                            <p>WEB在线访问监控,支持任何地点</p>
                            <p>家里,咖啡厅,公司,火车</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="panel panel-default panel2 animated zoomIn">
                        <div class="panel-body">
                            <i class="icon-desktop fonts"></i>
                            <br>
                            <h4>多平台</h4>
                            <p>支持手机,PC多平台访问</p>
                            <p>Windows,Linux,Mac,Android,IOS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}