{% include 'header.html' %}
<div>
    <div class="container">
        <div class="col-md-12">
            <div class="div1">
                <div class="div3">
                    <button type="button" class="btn btn-success">屋内大灯</button>
                    <button type="button" class="btn btn-success">屋内台灯</button>
                    <button type="button" class="btn btn-success">USB小灯</button>
                    <button type="button" class="btn btn-success">LED小灯</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}